body {
    position: relative;
}

#Home {
    padding-top: 50px;
    height: auto;
    color: black;
    font-style: italic;
    font-size: 24px;
    background-color: white;
    margin: auto;
}

#Hosts {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: grey;
    background-color: lightgrey;
}

#Projects {
    padding-top: 50px;
    height: auto;
    color: #fff;
    background-color: grey;
}

#Photos {
    padding-top: 50px;
    height: auto;
    width: auto;
    color: #fff;
    background-color: #525252 ;
}

#Contact {
    padding-top: 50px;
    color: #fff;
    background-color: black;
    height: auto;
}

.p-0 {
    padding: 0px;
      
}
.carousel-inner img{
    margin: auto;
    position: relative;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 100px;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 100%;
    width: 100%;
}
